<html>
    <!-- Head Template-->
    <%- include('../templates/head.ejs') %>

    <body>

        <!-- Navigation Template-->
        <%- include('../templates/nav.ejs') %>

        <!-- Purpose of the Quiz -->
        <h1 class='about_title'>Purpose</h1>
        <p class='about_desc'>
            These quizzes will help incoming drivers to practice their knowledge about driving rules and safety regulations. 
            Not all the question will be like the ones from the CA DMV written tests, but this will allow test takers to gain more 
            knowledge about how to drive. Eventually, new drivers will adapt from what they have learned by reading the handbook, 
            taking the tests, and practicing driving. Hopefully, this app helps!
        </p>

        <!-- How to Pass the Quiz -->
        <h1 class='about_title'>How to Pass the Quiz</h1>
        <p class='about_desc'>You need to score at least <strong>80%</strong> in the quizzes. Why 80%? This is to ensure the safety of an incoming driver.</p>

        <!-- 2021 CA Handbook Link-->
        <h1 class='about_title'>Need a CA Handbook to Study?</h1>
        <a href='https://www.dmv.ca.gov/portal/file/california-driver-handbook-2021-pdf/' target="_blank" class='about_desc' style="text-decoration: none; font-weight: bold;">2021 California Driver's Handbook</a>
    </body>

    <!-- Script Template -->
    <%- include('../templates/script.ejs') %>

    <!-- Footer Template-->
    <%- include('../templates/footer.ejs') %>
</html>