<html>
    <!-- Head Template-->
    <%- include('../templates/head.ejs') %>

    <body>

        <!-- Navigation Template-->
        <%- include('../templates/nav.ejs') %>

        <!-- Purpose of the Quiz -->
        <h1 class='about_title'>Purpose</h1>
        <p class='about_desc'>
            These quizzes will help incoming drivers to practice their knowledge about driving rules and safety regulations. 
            Not all the question will be like the ones from the CA DMV written tests, but this will allow test takers to gain more 
            knowledge about how to drive. Eventually, new drivers will adapt from what they have learned by reading the handbook, 
            taking the tests, and practicing driving. Hopefully, this app helps!
        </p>

        <!-- Passing the Quiz -->
        <h1 class='about_title'>Passing the Quiz</h1>
        <p class='about_desc'>You need to score at least <strong>80%</strong> in the quizzes. Why 80%? This is to ensure the safety of an incoming driver.</p>
        <strong class='about_desc'>Some Helpful Tips in Passing the Quiz:</strong>
        <ol id='tips'>
            <li>Going through the 2021 Driving Handbook (see below)</li>
            <li>Taking online quizzes on the internet</li>
            <li>Being the passenger and observing how people drive</li>
        </ol>

        <!-- Helpful Links -->
        <h1 class='about_title'>Helpful Links</h1>
        <a href='https://www.dmv.ca.gov/portal/file/california-driver-handbook-2021-pdf/' target="_blank" class='helpful_links'>2021 California Driver's Handbook</a><br>
        <a href='https://www.dmv.ca.gov/portal/driver-education-and-safety/educational-materials/sample-driver-license-dl-knowledge-tests/' target="_blank" class='helpful_links'>DMV's Sample Driver's License Knowledge Tests</a><br>
        <a href='https://www.youtube.com/watch?v=m8hEAKYP1xY' target="_blank" class='helpful_links'>DMV Real Questions & Answers 2021 (YouTube)</a><br>

    </body>

    <!-- Script Template -->
    <%- include('../templates/script.ejs') %>

    <!-- Footer Template-->
    <%- include('../templates/footer.ejs') %>
</html>