<html>
    <!-- Head Template-->
    <%- include('../templates/head.ejs') %>

    <body>

        <!-- Navigation Template-->
        <%- include('../templates/nav.ejs') %>
        <h1 class='about_title'>Information</h1>

        


    </body>

    <!-- Script Template -->
    <%- include('../templates/script.ejs') %>

    <!-- Footer Template-->
    <%- include('../templates/footer.ejs') %>
</html>