<html>
    <!-- Head Template-->
    <%- include('../templates/head.ejs') %>

    <body>

        <!-- Navigation Template-->
        <%- include('../templates/nav.ejs') %>
        
        <!-- Content of the Quiz-->
        <h1 class='about_title'>Quiz Content</h1>
        <p class='about_desc'>Different Types of Quizzes:</p>
        <ul id='quiz_types'>
            <li>Multiple Choice</li>
            <li>True or False</li>
            <li>Fill In</li>
            <li>Select All Apply</li>
        </ul>

        <!-- Purpose of the Quiz -->
        <h1 class='about_title'>Purpose</h1>
        <p class='about_desc'>
            These quizzes will help incoming drivers to practice their knowledge about driving rules and safety regulations. 
            Not all the question will be like the ones from the CA DMV written tests, but this will allow test takers to gain more 
            knowledge about how to drive. Eventually, new drivers will adapt from what they have learned by reading the handbook, 
            taking the tests, and practicing driving. Hopefully, this app helps!
        </p>

        <!-- Purpose of the Quiz -->
        <h1 class='about_title'>How to Pass the Quiz</h1>
        <p class='about_desc'>You need to score at least <strong>80%</strong> in the quizzes. Why 80%? Because we need to ensure that people know how to carefully drive!</p>
    </body>

    <!-- Script Template -->
    <%- include('../templates/script.ejs') %>

    <!-- Footer Template-->
    <%- include('../templates/footer.ejs') %>
</html>