<html>
    <!-- Head Template-->
    <%- include('../templates/head.ejs') %>

    <body>

        <!-- Navigation Template-->
        <%- include('../templates/nav.ejs') %>

        <div id='contacts-grid'>
            <!-- Contacts (i.e) phone number, email -->
            <div class='contacts-type'>
                <h1>Contacts</h1>
            </div>
            <!-- Social Media (i.e) GitHub, LinkedIn, Xbox LIVE, etc. -->
            <div class='contacts-type'>
                <h1>Social Media</h1>
            </div>
        </div>        

    </body>

    <!-- Script Template -->
    <%- include('../templates/script.ejs') %>

    <!-- Footer Template-->
    <%- include('../templates/footer.ejs') %>
</html>