<html>
    <!-- Head Template-->
    <%- include('../templates/head.ejs') %>

    <body>
        <!-- Navigation Template-->
        <%- include('../templates/nav.ejs') %>

        <img id='err_img' src='/images/err_sign.png' alt='image not found'>
        <h1 id='err_message'>Error: Page not founded!</h1>
    </body>

    <!-- Script Template -->
    <%- include('../templates/script.ejs') %>

    <!-- Footer Template-->
    <%- include('../templates/footer.ejs') %>
</html>