<html>
    <!-- Head Template-->
    <%- include('../templates/head.ejs') %>

    <body>

        <!-- Navigation Template-->
        <%- include('../templates/nav.ejs') %>

        <p style="font-style: italic; text-align: center;">“Success is not final, failure is not fatal; it is the courage to continue that counts.” — Winston Churchill</p>

        <!-- Quiz Images-->
        <div id='quiz-grid'>
            <a href='/quiz/quiz1'><img src='/images/golden_gate_bridge.png' alt='image not found' class='quiz_img'></a>
            <a href='/quiz/quiz2'><img src='/images/bay_bridge.png' alt='image not found' class='quiz_img'></a>
            <a href='/quiz/quiz3'><img src='/images/santa_cruz_wharf.png' alt='image not found' class='quiz_img'></a>
            <div class='quiz_title'>Quiz 1</div>
            <div class='quiz_title'>Quiz 2</div>
            <div class='quiz_title'>Quiz 3</div>
            <a href='/quiz/quiz4'><img src='/images/long_beach.png' alt='image not found' class='quiz_img'></a>
            <a href='/quiz/quiz5'><img src='/images/mission_peak.png' alt='image not found' class='quiz_img'></a>
            <a href='/quiz/quiz6'><img src='/images/uc_berkeley.png' alt='image not found' class='quiz_img'></a> 
            <div class='quiz_title'>Quiz 4</div>
            <div class='quiz_title'>Quiz 5</div>
            <div class='quiz_title'>Quiz 6</div>   
        </div>
    </body>

    <!-- Script Template -->
    <%- include('../templates/script.ejs') %>

    <!-- Footer Template-->
    <%- include('../templates/footer.ejs') %>
</html>