<html>
    <!-- Head Template-->
    <%- include('../templates/head.ejs') %>

    <body>

        <!-- Navigation Template-->
        <%- include('../templates/nav.ejs') %>

        <!-- Quiz Images-->


        


    </body>

    <!-- Script Template -->
    <%- include('../templates/script.ejs') %>

    <!-- Footer Template-->
    <%- include('../templates/footer.ejs') %>
</html>