<html>
    <!-- Head Template-->
    <%- include('../templates/head.ejs') %>

    <body>

        <!-- Navigation Template-->
        <%- include('../templates/nav.ejs') %>

        <p style="font-style: italic; text-align: center;">“Success is not final, failure is not fatal; it is the courage to continue that counts.” — Winston Churchill</p>

        <!-- Quiz Images-->
        <div id='quiz-grid'>
            <a href='/home/quiz1'><img src='/images/golden_gate_bridge.png' alt='image not found' class='quiz_img'></a>
            <a href='/home/quiz2'><img src='/images/bay_bridge.png' alt='image not found' class='quiz_img'></a>
            <a href='/home/quiz3'><img src='/images/santa_cruz_wharf.png' alt='image not found' class='quiz_img'></a>
            <div class='quiz_title'>Quiz 1</div>
            <div class='quiz_title'>Quiz 2</div>
            <div class='quiz_title'>Quiz 3</div>
            <a href='/home/quiz4'><img src='/images/long_beach.png' alt='image not found' class='quiz_img'></a>
            <a href='/home/quiz5'><img src='/images/mission_peak.png' alt='image not found' class='quiz_img'></a>
            <a href='/home/quiz6'><img src='/images/uc_berkeley.png' alt='image not found' class='quiz_img'></a> 
            <div class='quiz_title'>Quiz 4</div>
            <div class='quiz_title'>Quiz 5</div>
            <div class='quiz_title'>Quiz 6</div>
            <a href='/home/quiz7'><img src='/images/venice_beach.png' alt='image not found' class='quiz_img'></a>
            <a href='/home/quiz8'><img src='/images/disneyland.png' alt='image not found' class='quiz_img'></a>
            <a href='/home/quiz9'><img src='/images/sjsu.png' alt='image not found' class='quiz_img'></a> 
            <div class='quiz_title'>Quiz 7</div>
            <div class='quiz_title'>Quiz 8</div>
            <div class='quiz_title'>Quiz 9</div>   
        </div>
    </body>

    <!-- Footer Template-->
    <%- include('../templates/footer.ejs') %>
    <!-- Script Template -->
    <%- include('../templates/script.ejs') %>
</html>