body{
    background-color: aliceblue;
}

#title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

#time{
    text-align: center;
    left: 390;
}

#time:hover{
    cursor: default;
}

/* Navigation Bar & Props */
#nav-bar{
    position: relative;
    margin: auto;
    background-color: black;
    height: 5%;
    width: 850px;
    border-radius: 35px;
}

#nav-bar a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    color: white;
    position: relative;
    padding-top: 17px;
    bottom: -8px;
    text-decoration: none;
}

#nav-home:hover, #nav-about:hover, #nav-contacts:hover{
    color: #42D52E;
    cursor: pointer;
}

#nav-home{left: 30}
#nav-about{left: 90}
#nav-contacts{left: 150}

#quiz-grid{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-row-gap: 5px;
    grid-column-gap: 30px;
    justify-content: center;
}

.quiz_img{
    width: 245px;
    height: 145px;
    border: black solid 2px;
}

.quiz_img:hover{
    border-color: blue;
}

.quiz_title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* Footer */
#publisher{
    position: relative;
    bottom: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

/***** ABOUT PAGE *****/

.about_title, .about_desc, #tips li, .helpful_links{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    left: 300;
    width: 810px;
    /* border-style: solid; */
}

.about_title{
    font-size: x-large;
}

/* Tips of passing the quizzes */
#tips li{
    font-size: 15px;
}

/* Helpful links */
.helpful_links{
    text-decoration: none;
}

/***** CONTACTS *****/

/* Contact Types = (Social Media and Contacts */
.contacts-type, #contact-info p{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#media-grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 40px;
    justify-content: center;
}

/* Social Media Images */
#media-grid img{
    width: 70px;
    height: 70px;
}

/* Contacts table */
#contacts{
    margin: 0 auto;
    border-spacing: 1em;
}

.contact, .contact-value{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contact{
    text-align: right;
    font-weight: bold;
}

/***** QUIZ PAGE *****/

#quiz-form{
    margin: 0 auto; 
    width: 800px;
}

input{
    padding-top: 10px;
    margin-left: 21px;
}

input[type='radio']:hover, input[type='checkbox']:hover, button:hover{
    cursor: pointer;
}

.quiz-choice{
    margin-left: 5px;
}

.quiz-question, .quiz-choice{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.quiz-question{font-weight: bold;}


/***** RESULTS PAGE *****/

#results-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;    
    height: 250px;
    padding-top: 50px;
}

#score, #score-message{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

#score{
    padding-top: 20px;
}

#score{
    font-size: 28px;
}

#score-message{
    font-size: 20px;
}

/***** ERROR PAGE *****/

#err_message{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 20px;
}

#err_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 75px;
}