<h1 id="title">California Driving Quiz</h1>
<nav id="nav-bar">
    <a id="nav-home" >Home</a>
    <a id="nav-about" >About</a>
    <a id="nav-contacts" >Contacts</a>
    <!-- Time is assumed to be not part of the nav bar-->
    <a id="time"></a>
</nav>